<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>phone number</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>vardhan</td>
      <td>7892300214</td>
      <td>vav@gmail.com</td>
    </tr>
    <tr>
      <th>1</th>
      <td>vinay</td>
      <td>21689465</td>
      <td>vav@gmai</td>
    </tr>
    <tr>
      <th>2</th>
      <td>manoj</td>
      <td>216893465</td>
      <td>kumar@gmail.com</td>
    </tr>
  </tbody>
</table>